/* styles/main.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.landing-page {
    background-color: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Add flex-direction to center vertically and horizontally */
}

.landing-page h1 {
    color: #fff; /* Change text color to white */
    font-size: 48px;
    font-weight: bold;
    animation: fade-in 2s; /* Add animation */
    margin-bottom: 40px; /* Add space between h1 and button */
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

